{% extends "KitpagesShopBundle::layout.html.twig" %}

{% block kitpages_shop_body %}

<div class="kit-shop-admin-filter">
    <form action="{{ path('KitpagesShopBundle_admin_orderList' ) }}" method="get" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
</div>

<table class="kit-shop-admin-table">
    <thead>
        <tr>
            <th>{{ 'id' | trans }}</th>
            <th>{{ 'User' | trans }}</th>
            <th>{{ 'Price ATI' | trans }}</th>
            <th>{{ 'Price ET' | trans }}</th>
            <th>{{ 'State' | trans }}</th>
            <th>{{ 'State date' | trans }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orderList %}
            <tr>
                <td>{{ order.id}}</td>
                <td>{% if order.invoiceUser != null %}{{ order.invoiceUser.lastName}} {{ order.invoiceUser.firstName}}{% endif %}</td>
                <td>{{ order.priceIncludingVat}}</td>
                <td>{{ order.priceWithoutVat}}</td>
                <td>{{ order.state}}</td>
                <td>{{ order.stateDate|date("Y-m-d H:i:s") }}</td>
                <td>
                    <a href="{{ path('KitpagesShopBundle_admin_orderHistory', {
                                'id': order.id
                            } ) }}" title="display order" >
                        <img src="{{asset("bundles/kitpagesshop/icon/history.png")}}" alt="display order">
                    </a>
                    {% if order.invoice != null %}
                    <a href="{{ path('KitpagesShopBundle_invoice_invoiceDisplay', {
                                'orderId': order.id
                            } ) }}" title="display invoice" >
                        <img src="{{asset("bundles/kitpagesshop/icon/invoice.png")}}" alt="display invoice">
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{paginatorHtml|raw}}
{% endblock %}

