{% extends "KitpagesShopBundle::layout.html.twig" %}

{% block kitpages_shop_body %}

<div class="kit-shop-admin-order-history" >

<h1>Order N° {{ order.id}}</h1>

<h2>Order</h2>
<table class="kit-shop-admin-table">
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'id' | trans }}</td>
        <td>
            {{ order.id}}
        </td>
    </tr>
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'User' | trans }}</td>
        <td>{% if order.invoiceUser %}{{ order.invoiceUser.lastName}} {{ order.invoiceUser.firstName}}{% endif %}</td>
    </tr>
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'Price ATI' | trans }}</td>
        <td>{{ order.priceIncludingVat}}</td>
    </tr>
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'Price ET' | trans }}</td>
        <td>{{ order.priceWithoutVat}}</td>
    </tr>
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'State' | trans }}</td>
        <td>{{ order.state}}</td>
    </tr>
    <tr>
        <td class="kit-shop-admin-table-title">{{ 'State date' | trans }}</td>
        <td>{{ order.stateDate|date("Y-m-d H:i:s") }}</td>
    </tr>
</table>

<h2>Order Content</h2>
<table class="kit-shop-admin-table">
    <thead>
        <tr>
            <th>{{"Ref"|trans}}</th>
            <th>{{"Category"|trans}}</th>
            <th>{{"Name"|trans}}</th>
            <th>{{"Quantity"|trans}}</th>
            <th>{{"Price"|trans}}</th>
        </tr>
    </thead>
    <tbody>
    {% for line in order.orderLineList %}
        <tr>
            <td>{{line.shopReference}}</td>
            <td>{{line.shopCategory}}</td>
            <td>
                <h4>{{line.shopName}}</h4>
                <div>{{line.shopDescription}}</div>
            </td>
            <td>{{line.quantity}}</td>
            <td>{{ line.priceIncludingVat }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td class="kit-shop-admin-table-title" colspan="3">{{"Total"|trans}}</td>
            <td>
                {% if (order.priceIncludingVat == order.priceWithoutVat) %}
                    {{order.priceIncludingVat}}
                {% else %}
                    {{ "Without VAT" | trans }}: {{order.priceWithoutVat}}<br/>
                    {{ "VAT" | trans }} : {{order.priceIncludingVat - order.priceWithoutVat}}<br/>
                    {{ "Including VAT" | trans }} : {{order.priceIncludingVat}}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<h2>Order History</h2>
<table class="kit-shop-admin-table">
    <thead>
        <tr>
            <th>{{ 'User' | trans }}</th>
            <th>{{ 'Price ATI' | trans }}</th>
            <th>{{ 'Price ET' | trans }}</th>
            <th>{{ 'State' | trans }}</th>
            <th>{{ 'State date' | trans }}</th>
            <th>{{ 'note' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for orderHistory in orderHistoryList %}
            <tr>
                <td>{{ orderHistory.username}}</td>
                <td>{{ orderHistory.priceIncludingVat}}</td>
                <td>{{ orderHistory.priceWithoutVat}}</td>
                <td>{{ orderHistory.state}}</td>
                <td>{{ orderHistory.stateDate|date("Y-m-d H:i:s") }}</td>
                <td>{{ orderHistory.note }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}

